html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}


main{
    height: 800px;
    width: 550px;
    background-color: #3394d0;
    border-radius: 10px;
    margin-top: 200px;
}
#status{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(245,0,0,0.8);
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: -20px;
}
.screen{
    height: 100px;
    width: 80%;
    background-color: #94a295;
    margin: 50px auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#screen-input{
    height: 100%;
    width: 100%;
    background-color: #94a295;
    font-size: 50px;
    font-weight: 900;
    display: none;
    flex-grow: 1;
    border: none;
}
#ui{
    text-align: right;
    margin-right: 20px;
}
.keys{
    height: 70px;
    width: 100px;
    background-color: black;
    color: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    cursor: pointer;
    font-size: 25px;
    font-weight: 900;
}
#equal{
    transform: scaleX(2);
    margin: 20px 60px;
}
.utility-buttons{
    display: flex;
    justify-content: space-around;
    margin: 0px 40px;

}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 40px;
}

/* Responsive website */

@media screen and (max-width:512px){
    main{
        height: 550px;
        width: 350px;
        margin-top: 0px;
    }
    #status{
        transform: scale(0.8);
    }
    .screen{
        height: 80px;
    }
    .keys{
    height: 40px;
    width: 50px;
    font-size: 14px;
    margin: 10px 5px;
    }
    #equal{
        margin: 9px 30px
    }
}

@media screen and (max-width:1000px){
    main{
        margin-top: 20px;
    }
}